body {
	font-family:arial;

}

.month-view {
	width:90%;
	margin-left:auto;
	margin-right:auto;

}

.month-view-header td.last-month-link, .month-view-header td.next-month-link {
	font-size:10px;
	text-transform: uppercase;
	border:none;
}

.month-view-header td.next-month-link{
	text-align:right;
}

.month-view-header {
	margin-bottom:10px;
}

.month-view .month-name {
	text-align:center;
	font-size:21px;
	border:none;
}

.month-view table {
	width:100%;
	border-spacing: 10px;
	border-collapse: collapse;
	
}

.month-view table td {
	
	padding:1px;
	border:1px solid #999999;
	width:14%;

}

.month-view table td.blank {
	background-color:#DDDDDD;

}

.month-view table td.non-blank {
	background-color:#EDF7FA;

}

.month-view table td .cell-date {
	text-align:right;
	font-size:11px;
}

.month-view tr:not(:first-child) td {
    height:80px;
    vertical-align: text-top;
}


.month-view tr.days-of-week td{
	background-color:#333366;
	color:#EEEEEE;
	text-align:center;
	font-size:12px;

}

.month-view ul.event-list {
	width:100%;
	list-style-type: none;
	padding-left:0px;
	font-size:10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.edit-button-hover {
	width:6px;
	height:6px;
	border:1px solid #AAAAAA;
	background: url('./images/buttons.png') 104px -2px;
	display:inline-block;
	margin-left:1px;

}

.delete-button-hover {
	width:6px;
	height:6px;
	border:1px solid #AAAAAA;
	background: url('./images/buttons.png') 104px -12px;
	display:inline-block;
	margin-left:1px;


}

.delete-button {
	width:8px;
	height:8px;
	border:0;
	display:inline-block;
	margin-left:1px;
}
